.BurgerBuildControls {
  width: 100%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cf8f2e;
  box-shadow: 0 2px 1px #ccc;
}
